@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    font-family: "Open Sans";
}

h2 {
    margin-top: -5px;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 240px;
    padding: 20px;
    border-radius: 10px;
    background-color:  rgb(223, 27, 20);
    border: 3px solid  rgb(39, 34, 34);
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.celula {
    width: 75px;
    height: 65px;
    font-size: 30pt;
    margin: 4px 2px;
    font-weight: 300;
    padding-top: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(235, 234, 236);
    
}


.botao-recarregar {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid rgb(27, 44, 204);
    background-color: rgb(3, 10, 10);
    color: #cf1717;
    cursor: pointer;
}